<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="fileErrors" xsi:type="File" fileName="debug.txt" />
    <target name="fileInfo" xsi:type="File" fileName="info.txt" />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" levels="Info,Trace" writeTo="fileInfo" final="true"/>
    <logger name="*" levels="Debug,Fatal,Error,Trace" writeTo="fileErrors" final="true"/>
  </rules>
</nlog>